body{
    background: #202124;
}

#wrap{
    margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.contents{
    width: 100%;
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    width:240px;
    height: auto;
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
}

.display{
    background: #2b2726;
    border-radius: 8px 8px 0 0;
}

.display_nav{
    height: 24px;
    flex-shrink: 0;
}

.display_nav_area{
    padding: 8px 0 4px 8px;
}

.display_nav_btn{
    position: relative;
    float: left;
    margin-right: 8px;
}

.display_result{
}

.display_result_prev{
    color: #E9E9E9;
    width: 200px;
    text-align: right;
    margin: 0 auto;
}

.display_result_prev{
    color: #E9E9E9;
    width: 200px;
    text-align: right;
    margin: 0 auto;
    position: relative;
    display: block;
}

.display_result_prev#off {
    opacity: 0;
}

.display_result_input{
    width: 200px;
    color: #E9E9E9;
    text-align: right;
    font-size: 35px;
    border: 0;
    padding: 0;
    margin: 0 20px 0 20px;
    word-break: break-all;
}

.numpad_btn{
    color: #E2E1E1;
    border: 1px solid #2B2726;
    margin: 0;
    float:left;
    font-size: 24px;
    width: 60px;
    height: 50px;
}

.numpad_btn_double{
    width: 120px;
    height: 50px;
}

.btn_403C3B {
    background-color: #403C3B;
}

.btn_403C3B:active {
    background-color: #7F7C7A;
}

.btn_F2A33C {
    background-color: #F2A33C;
}

.btn_F2A33C:active {
    background-color: #BF812E;
}

.btn_5F5C5C{
    background-color: #5F5C5C;
}

.btn_5F5C5C:active{
    background-color: #B2B0B0;
}

.btn_radius_left{    
    border-radius: 0 0 0 8px;
}

.btn_radius_right{
    border-radius: 0 0 8px 0;
}
