.slide_wrap{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.slide_contents{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    width: 1200px;
}


.slide_link{
    display: flex;
    text-decoration-line: none;
    margin:auto;
    width: 1200px;
}
  
.slide{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    height: 360px;
    flex-shrink: 0;
    transition: left 0.15s;  
    font-size: 72px;
    font-weight: bold;
    font-style: italic;
    color:#fefefe;
    width: 1200px;
}

.slide_text{
    justify-content: center;
    text-align: center;
    align-items: center;
    display: inline-block;
    margin: auto;
}
  
.slide_1{
    background-color: aqua;
}

.slide_2{
    background-color: blue;
}

.slide_3{
    background-color: chocolate;
}

.slide_btn_area{
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1200px;
    pointer-events: none;
    margin: 0 3px
}

.slide_btn{
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    font-size: 16px;
    pointer-events: auto;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.06);
    border: 1px solid #f0f0f0;
    top: 50%;
}

.slide_btn_prev{
    left: 16px
}

.slide_btn_next{
    right: 16px;
}

.slide_pagination{
    display: none;
}

.area_tiles{
    width: 1200px;
    margin: 0 auto;
}

.tile_link{
    display: flex;
    height:100%;
    text-decoration-line: none;
    color: black;
    margin:auto;
    float: left;
}

.tile{
    width: 600px;
    height: 240px;
    display: inline-flex;
}

.tile_detail{
    height: 100%;
    width: 100%;
    display: flex;
}

.tile_text{
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    margin: auto;
    font-size:24px;
}