.toc{    
    position: relative;
    width: fit-content;
    
    border: 1px solid #999;    
    padding: 16px;
    z-index: 1;
    /* 목차 컨테이너 */
}

.toc p{
    font-weight: bold;
    font-size: 24px;
    margin: 0
}

.toc_wrap {

  }
  .toc_wrap H1{
    /* 1단계 표제 <li> */
  }
  .toc_wrap H2{
    /* 2단계 표제 <li> */
  }
  .toc_wrap H3{
    /* 3단계 표제 <li> */
  }

#info_pannal{
    background-color: aquamarine;
    max-width: 100%;
    max-height: 240px;
    padding: 16px;
}



/* 계산기 */

#calculator button{font-family:inherit;cursor:pointer;}
#calcculator button:hover{filter:brightness(80%);}
#calculator button:active{filter:brightness(60%);}

#calculator{
    position:relative;
    width:95%; max-width:300px;
    background:#202020;
    border-radius:4px;
    box-shadow:5px 5px 1rem rgba(0,0,0,.2);
}

/* 숫자 계산 화면 */
#area-display{
    position:relative;
    width:100%;
    background:rgba(255,255,255,.1);
    border-bottom:1px solid rgba(0,0,0,.3);
    text-align:right;
}
#steps{
    position:relative;
    padding:1.5rem 1.25rem .5rem;
    font-size:14px; color: #fff;
}

#steps.off{opacity:0;}

#display{
    display:block;position:relative;
    height:auto;
    white-space:normal;
    word-break:break-all;
    padding:0 1rem; padding-bottom:1.25rem;
    background:transparent;
    border:none;
    text-align:right;font-family:inherit;font-size:2rem; color:#fff;
}

/* 버튼 영역 */
#area-btn{
    position:relative;display:flex;flex-flow:row wrap;
    justify-content:space-between;align-items:flex-start;
}

/* 버튼 - 숫자 */
.nums{
    display:flex;flex-flow:row wrap;
    position:relative;
    width:75%;    

}


.num{
    display:block;
    width:33.33%; aspect-ratio:1/1;
    border:1px solid rgba(0,0,0,.2);
    background:#707070;
    font-size:inherit; color:rgba(255,255,255,1);
}

/* .num[data-val="0"]{width:66.66%; aspect-ratio:0;} */
.num[data-val="-1"],
.num[data-val="."]{background:rgba(255,255,255,.1);}

/* 버튼 - 연산 */
.ops{
    position:relative;
    width:25%;
}
.op{
    display:block;
    width:100%; aspect-ratio:1/1;
    background:rgba(255,255,255,.1);
    border:1px solid rgba(0,0,0,.2);
    font-size:1.5rem; color: #fff;
}
#reset{
    display:block;
    width:100%;aspect-ratio:1/1;
    background:rgba(36, 55, 165, 0.1);
    border:1px solid rgba(0,0,0,.2);
    font-size:1rem; color: #fff;
}

/* = 버튼 */
#btn_result{
    display:block;
    width:100%; aspect-ratio:1/.33;
    background:rgba(93, 128, 241, 0.3);
    border:1px solid rgba(0,0,0,.2);
    font-size:2rem; font-weight:bold; color: #fff;
    mix-blend-mode:hard-light;
}

/* 키보드 리액션 */

.key_reaction{
  display: flex;
}

.key_reaction_btn{
  width: 16px;
  font-size: 24px;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  background: #202020;
  color: #fff;
  transition: all 0.1s ease;
}

.key_Reaction_btn_pressed {
  filter: brightness(150%);
  transform: scale(1.1);
}
